body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    /* font-family: 'Google Sans', sans-serif; */
    /* font-family: 'Arial', sans-serif; */
}

.publication-title {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem; /* 可根据需要调整字体大小 */
  font-weight: 700;  /* 粗体 700 */
  font-style: italic; /* 设置为斜体 */
  color: #333333; /* 字体颜色 */
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 可选的文本阴影 */
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
  margin-right: 0.5rem; /* 设置作者之间的右边距 */
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.teaser h2.subtitle {
  font-family: 'Lato', sans-serif; /* 设置字体为 Lato */
  font-size: 1.5rem; /* 根据需要调整字体大小 */
  /* line-height: 1; 增加行间距 */
  font-weight: 400; /* 正常字体粗细 */
  color: #333333; /* 字体颜色 */
  font-style: italic; /* 设置为斜体 */
  font-stretch: Light;
  text-align: justify; /* 文字两端对齐 */
}

.title.is-3 {
  font-family: 'Lato', sans-serif; /* 使用 Lato 字体 */
  font-weight: 700; /* 设置字体粗细，400 为常规粗细 */
  font-size: 2.3rem; /* 根据需要调整字体大小 */
  color: #333333; /* 设置字体颜色 */
}

.title.is-4 {
  font-family: 'Lato', sans-serif; /* 使用 Lato 字体 */
  font-weight: 700; /* 设置字体粗细，400 为常规粗细 */
  font-size: 1.6rem; /* 根据需要调整字体大小 */
  color: #333333; /* 设置字体颜色 */
}

.teaser strong {
  font-weight: 700; /* 设置 strong 标签为粗体 */
  font-style: italic; /* 可选：使 strong 标签的字体为斜体 */
}

.teaser p {
  font-family: 'Lato', sans-serif; /* 设置字体为 Lato */
  font-size: 1.2rem; /* 适合正文大小的字体 */
  color: #666666; /* 可以选择更柔和的灰色 */
  
}

.content p {
  font-family: 'Lato', sans-serif; /* 设置字体为 Lato */
  font-size: 1.4rem; /* 调整字体大小 */
  line-height: 1.5; /* 增加行间距 */
  text-align: justify; /* 文字两端对齐 */
  margin-bottom: 1.5rem; /* 增加段落之间的距离 */
  font-weight: 400; /* 正常字体粗细 */
}


@font-face {
  font-family: 'Lato';
  src: url('/static/font/Lato/Lato-LightItalic.ttf') format('truetype'); /* 使用 .ttf 格式 */
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/font/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/font/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}